absl-py==0.1.10
altgraph==0.15
basemap==1.1.0
bleach==1.5.0
click==6.7
cycler==0.10.0
decorator==4.3.0
et-xmlfile==1.0.1
future==0.16.0
futures==3.1.1
h5py==2.9.0
html5lib==0.9999999
jdcal==1.4
jsonlines==1.2.0
lxml==4.2.3
macholib==1.9
Markdown==2.6.11
matplotlib==2.0.2
nltk==3.4.4
numpy==1.16.4+mkl
opencv-python==3.3.0
openpyxl==2.5.4
pandas==0.21.0
pefile==2017.11.5
Pillow==5.2.0
protobuf==3.5.1
PyInstaller==3.3.1
pyparsing==2.2.0
pypiwin32==223
pyproj==1.9.5.1
pyshp==1.2.11
python-dateutil==2.6.1
python-pptx==0.6.10
pytz==2017.2
pywin32==301
scikit-learn==0.18.2
scipy==0.19.1
six==1.11.0
sklearn==0.0
sklearn-contrib-lightning==0.4.0
tornado==5.1
wbdata==0.2.7
Werkzeug==0.14.1
xlrd==1.1.0
XlsxWriter==1.0.5
